* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    border: 5px;
    background-color: rgb(171, 41, 41);

}

.menu {
    background-color: rgb(55, 132, 194);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 20px;
}

.menu img{
    width: 50px;
    height: auto;
    margin-right: 20px;
    transition: transform 0.3 ease;
}
.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
.menu ul li{
    position: relative;
}
.menu ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    display: inline-block;
    transition: all 0.3s ease;
}
.menu ul li a:hover{
    transform: scale(1.2);
    background-color: brown;
    border-radius: 5px;
}

.menu img:hover{
    transform: scale(1.1);
}

.slider-container {
    display: flex;
    background-color: rgb(47, 202, 151);
    height: 200px;
    align-items: center;
    
    
}

.text-mosaic {
    display: flex;
    gap: 20px;
    padding-top: 10px;
    
}

.text-content {
    background-color: rgb(136, 136, 235);
    height: 150px;
    padding: 20px;
    flex: 1;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
   
}
.text-content p {
    animation: expandir 3s infinite;
}

@keyframes expandir {
    0% { transform: scale(0); }
    100% { transform: scale(1); }
}
.mosaic {

    display: flex;
    flex-wrap: wrap;
    flex: 2;
    background-color: chocolate;
    height: 150px;
    padding: 10px;
}

.mosaic p {
    flex: 1 1 calc(50% - 10px); /* Cuanto ocupa cada elemento */
    padding: 10px;
}

.contact-photo {
    display: flex;
    gap: 20px;
    padding-top: 10px;
    height: 300px;
}
.contact-form {
    background-color: bisque;
    height: 360px;
    flex: 1;
}
.contact-form:hover {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 5%;
    
}
.contact-form2 {
    height: 360px;
    flex: 1;
}
.alfa{
    background-color: rgb(55, 132, 194);
    height: 180px;
    flex: 1;
    border-radius: 5%;

}
.alfa:hover {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 5%;
}
.alfa2{
    background-color: rgb(55, 132, 194);
    height: 180px;
    flex: 1;
    margin-top: 10px;
    border-radius: 5%;
 
}
.alfa2:hover {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 5%;
}



